<p>
  Turns left: <%= @tally.turns_left %>
</p>
<p>
  Guesses: <%= display_word(@tally.used) %>
</p>
<h2>
  Word so far: <%= display_word(@tally.letters) %>
</h2>

<%= if game_over?(@tally.state) do %>
  <%= new_game_button(@conn) %>
<% else %>
  <%= form_for(@conn, Routes.hangman_path(@conn, :make_move), [as: :make_move, method: :put], fn form -> %>
    <%= text_input(form, :guess, autofocus: true) %>
    <%= submit("Make move") %>
  <% end) %>
<% end %>
