<%= game_state(@tally.state) %>
<div class="row">
  <div class="column column-30">
    <%= render "_gallows.html", left: @tally.turns_left %>
  </div>
  <div class="column column-60 column-offset-10">
    <%= render "_status.html", tally: @tally, conn: @conn %>
  </div>
</div>
